<!DOCTYPE html>
<html>
  <body>
  <%- include navigation.ejs %>
  <div class="container">
    <div class="well">
        <h1><strong> Cart </strong></h1>
		<div>You have a cart: <%= JSON.stringify(cart[0]) %></div>
		<% for (var i=0; i<cart.length; i++) {%>
			<div class="well row">
				<div class="col-xs-3">
					<a href="/">
						<img src=<%= cart[i].image[0] %> class="img-responsive thumbnail">
					</a>
                </div>
				<div class="col-xs-9">
					<div class="row">
						<div class="col-xs-9">
							<h2>
								<a href="/"><%= cart[i].name %></a>
							</h2>
						</div>
						<div class="col-xs-3 text-right">
							<button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-remove"></span>Remove</button>
						</div>
					</div>
					<div class="col-xs-3">
						<h3>Price: <small><%= cart[i].price %></small></h3>
					</div>
					<div class="col-xs-3">
						<h3>Quantity: <small><%= cart[i].quantity %></small></h3>
					</div>
				</div>
			</div>
		<% } %>
		<!-- <div id="itemList"></div> -->
		<div class="col-xs-3 text-right">
			<button type="button" class="btn btn-warning"><span class="glyphicon"></span>Continue to Checkout</button>
		</div>
    </div>
  </div>

<script>
	var cartItem = {name:"Plus",price:4.50, quantity: 3,link:"/", images: ["/images/add_image_icon.png"]};

    makeCartItem(cartItem);
    function makeCartItem(item){
		var out = ('<div class="well row"><div class="col-xs-3">' +
                '<a href="'+item.link+'">'+
                '<img src="'+item.images[0]+'" class="img-responsive thumbnail"></a>'+
                '</div><div class="col-xs-9"><div class="row"><div class="col-xs-9">'+
                '<h2><a href="'+item.link+'">'+item.name+'</a></h2></div>'+
                '<div class="col-xs-3 text-right">' +
                '<button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-remove"></span> Remove</button>' +
                '</div></div><div class="col-xs-3">'+
                '<h3>Price: <small>$'+item.price+'</small></h3>'+
                '</div><div class="col-xs-3">'+
                '<h3>Quantity: <small>'+item.quantity+'</small></h3>'+
				'</div></div></div>');
        $("#itemList").html(out);
    }
	
    getItems();
    function getItems(){
        var out = {userID:1};
        $.ajax({
            url: "/cart/items",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(out),
            success: function (response) {
                response = JSON.parse(response);
                for (i in response){
                    console.log("Item " + i + ":"+ JSON.stringify(response[i]));
                }
            }
        });
    }


</script>
  </body>
</html>
