<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
	<p>You are logged in as <%= user %>.</p>
	<p>You have <%= cart %> items in your cart.</p>
	<form action="logoutTEST" method="get">
        <input id="submit" type="submit" value="Logout">
    </form>
	
	<form action="searchTEST" method="get">
        <!--Username: <br>-->
        <input type="text" placeholder="Search" name ="search"><br>
        <input id="submit" type="submit" value="Search">
    </form>
	
	<form action="cartTEST" method="get">
        <input id="submit" type="submit" value="View Cart">
    </form>
	
  </body>
</html>
