<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Market - Checkout</title>
    <script src="/javascripts/jquery-1.12.1.min.js"> </script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/payment.css">
    <script src="/stylesheets/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
<%- include navigation.ejs %>

<div class="container">
    <div class="well">
        <h2>Payment Process</h2>
        <br><br>
        <h2>Total cost is $<%= totalCost %></h2>
        <div class = "paymentForm">
            <form action="payment/process" method="post" id="paymentForm"><br>
                <input type="text" placeholder="Card Number" name="cardnum"><br>
                <input type="text" placeholder="Name on Card" name="cardName"><br>
                <label> Expiry Date</label><br>
                <select name = "expiryMonth">
                    <option value="" disabled selected>Month</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                </select>
                <select name = "expiryYear">
                    <option value="" disabled selected>Year</option>
                    <option value="2016">1</option>
                    <option value="2017">2</option>
                    <option value="2018">3</option>
                    <option value="2019">4</option>
                    <option value="2020">5</option>
                    <option value="2021">6</option>
                    <option value="2022">7</option>
                    <option value="2023">8</option>
                    <option value="2024">9</option>
                </select>
                <input type="text" placeholder="Security Code" name="securityCode"><br>
				<label>Delievery Details</label><br>
				<input type="text" placeholder="Recipient Name" name="recipientName" value="<%= userInfo[0].fname %> <%= userInfo[0].lname %>" required><br>
				<input type="text" placeholder="Recipient Email" name="recipientEmail" value="<%= userInfo[0].email %>" required><br>
				<input type="text" placeholder="Street Address" name="address" value="<%= userInfo[0].address %>" required><br>
				<input type="text" placeholder="City" name="city" value="<%= userInfo[0].city %>" required><br>
				<input type="text" placeholder="Postcode" name="postcode" value="<%= userInfo[0].postcode %>" required><br>
				<input type="text" placeholder="Phone Number" name="phone" value="<%= userInfo[0].phone %>"><br>
				<label>Preferred Delievery Date</label><br>
				<input type="date" name="delivDate" id="delivDate" min="2016-24-05" min="2016-31-05" required><br>
                <input id="submit" type="submit" value="Submit">
            </form>

        </div>
    </div>
</div>
</body>
<script>

//    var currentListingsJSON = [];
//    var currentListings = "";
//    var user = "";
//
//    init()
//    function init() {
//        $.ajax({
//            url: "/user",
//            type: "GET",
//            contentType: "application/json",
//            success: function(response){
//                console.log(response);
//                user = JSON.parse(response).username;
//                getListings();
//            }
//        });
//    }
//
//    function getListings(){
//        var out = {username:user};
//        $.ajax({
//            url: "/wishlist/items",
//            type: "POST",
//            contentType: "application/json",
//            data: JSON.stringify(out),
//            success: function (response) {
//                response = JSON.parse(response);
//                currentListingsJSON = response;
//                drawListings();
//            }
//        });
//    }
//
//    function makeListingItem(item, index){
//        var imagePath = "";
//        if (item.image != null) imagePath = item.image[0];
//
//        currentListings += '<div class="well deep row"><div class="col-xs-3">' +
//                '<a href="/buy?id='+item.itemid+'">'+
//                '<img src="'+imagePath+'" class="thumbnail" width="200" height="200"></a>'+
//                '</div><div class="col-xs-9"><div class="row"><div class="col-xs-9">'+
//                '<h2><a href="/buy?id='+item.itemid+'">'+item.name+'</a></h2></div>'+
//                '<div class="col-xs-3 text-right">' +
//                '<button type="button" onclick="removeListing('+index+')" class="btn btn-success market"><span class="glyphicon glyphicon-remove"></span> Remove</button>' +
//                '</div></div><div class="col-xs-3">'+
//                '<h3>Price: <small>'+item.price+'</small></h3>'+
//                '</div><div class="col-xs-3">'+
//                '<h3>Quantity: <small>'+item.stock+'</small></h3>'+
//                '</div>' +
//                '</div></div>';
//    }
//
//    function removeListing(index){
//        console.log("removing " + index);
//        var out = currentListingsJSON[index];
//        $.ajax({
//            url: "/wishlist/remove",
//            type: "POST",
//            contentType: "application/json",
//            data: JSON.stringify(out),
//            success: function(response){
//                currentListingsJSON.splice(index,1);
//                response = JSON.parse(response);
//                alert(response.message);
//                drawListings();
//            }
//        });
//    }

    function runSearch(){
        if ($("#categories").val() == '')$("#categories").val("All Categories");
        console.log("Text: " + $("#searchText").val());
        console.log("Category: " + $("#categories").val());
        var out = "?";
        if ($("#categories").val() != "All Categories") {
            out +="p="+ $("#categories").val() + "&";
        }
        out +="s="+ $("#searchText").val();
        window.location.href = "/search"+out;
    }
//
//    function drawListings(){
//        currentListings = "";
//        for (i in currentListingsJSON){
//            makeListingItem(currentListingsJSON[i], i);
//        }
//        $("#itemList").html(currentListings);
//    }

</script>

</html>