<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
	<p>You are logged in as <%= user %>.</p>
	<p>Testing: <%= list[0] %></p>
	<p>You have <%= cart %> items in your cart.</p>
	
	<form action="addToCartTEST" method="get">	
		Quantity: <input type="number" placeholder="1" name ="quantity"><br>
		<% for(var i=0; i < list.length; i++) { %>
			<input type="radio" name="item" value=<%- list[i].itemid %>><%= list[i].name %>
		<% } %>
    <input id="submit" type="submit" value="Add to cart">
	<!--<input id="submit" type="submit" onclick="sendBack()" value="Add to cart">-->
    </form>
	
  </body>

  <footer>
      <script>
          function sendBack(){
              var test = list;
              alert(list);
              $.ajax({
                  type: "POST",
                  url: "/addToCartTEST",
                  contentType: "application/json",
                  data: JSON.stringify(),
                  success: function(res){
                      alert("working");
                  },
                  error: function(){
                      alert("not so much");
                  }
              });
          }
      </script>
  </footer>
</html>
